@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Roda pé TOPO*/

div#informacoes {
    background-color: #148C54;
    height: 40px;
    display: flex;
}

div#informacoes > img {
    height: 40px;
    margin-left: 10%;
}

div#informacoes > h4 {
    margin-right: 2%;
    color: black;
    font-size: 2.3vw;
    margin-top: 15px;
    
}

div#informacoes > h4#um {
    padding-left: 30%;
}

/*-----------------------------------------------------------------*/

/*Imagem inicial*/

div#imagem{
    background: #166952 url(../imagens/ok.jpg) no-repeat top center;
    background-size: cover;
    height: 150px;
}

.hamburger{
    width: 50px;
    height: 25px;
    position: relative;
    margin: 10px auto;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger span{
    display: block;
    position: absolute;
    height: 7px;
    width: 90%;
    background: #0d4c0f;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.hamburger span:nth-child(1){
    top: 0px;
}

.hamburger span:nth-child(2), .hamburger span:nth-child(3){
    top: 10px;
}

.hamburger span:nth-child(4){
    top: 20px;
}
/*-----------------------------------------------------------------*/

/*Menu inicial*/

div#opcoes{
     text-align: center;
     background-color: #148C54;
     padding: 5px;
     border-radius: 0px 0px 8px 8px;
}

div#opcoes > h1 {
    margin: 20px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.286);
    color: white;
}


i#select {
    background-color: #166952;
    display: block;
    color: rgb(0, 0, 0);
    text-align:center ;
    padding: 1px;
    cursor: pointer;
    border-radius: 5px;
}

i#select:hover{
    background-color: #24ae87;
    color: black;
    
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #166952;
    color: white;
    border-top: 2px solid #0d3b2e;
    border-radius: 5px;
    font-size: large;
}

menu > ul > li > a:hover{
    background-color: #24ae87;
}

/*-----------------------------------------------------------------*/

/*Primeira parte*/


div#agendamento{
    margin-top: 20px;
    border: 0px solid black;
    display: flex;
    justify-content: center; 
    align-items: center;
}

div#agendamento > div#um{
    border: 2px solid #148C54;
    height: 60px;
    width: 257px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    background-color: #148C54;
    color: white;
    border-radius: 4px 0px 0px 4px;
}

div#um > h2{
    margin: 20px;
    font-size: 4.3vh;
}

div#dois > img {
    height: 60px;
    border: 2px solid #148C54;
    margin-top: 4px;
    background-color: #148C54;
    border-radius: 0px 4px 4px 0px;
}

div#agendamento2{
    align-items: center;   
    justify-content: center; 
    display: inline-block;
    display: flex;
    margin-top: 10px;
}

div#agendamento3{
    align-items: center;   
    justify-content: center; 
    display: inline-block;
    display: flex;
    margin-top: 10px;
}

.inputAgenda {
    border: 0px solid black;
    height: 30px;
    width: 322px;
    border-radius: 4px;
    padding-left: 10px;
    box-sizing: border-box; 
    background-color: rgb(195, 195, 195);
}

div#agendamento4{
    align-items: center;   
    justify-content: center; 
    display: inline-block;
    display: flex;
    margin-top: 10px;
    border-radius: 4px;
}

div#agendamento4 > div#um{
    border: 2px  #148c54bb;
    height: 30px;
    width: 323px;
    background-color: #148c54bb;
    color: white;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    border-radius: 4px;
}

div#agendamento5{
    margin-top: 10px;
    border: 0px solid black;
    display: flex;
    justify-content: center; 
    align-items: center;   
}

div#agendamento5 > div#um{
    font-size: 5vh;
    border: 2px solid #148C54;
    height: 50px;
    width: 263px;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    background-color: #148C54;
    color: white;
    border-radius: 4px 0px 0px 4px;
}

div#tres > img {
    height: 50px;
    border: 2px solid #148C54;
    margin-top: 4px;
    background-color: #148C54;
    border-radius: 0px 4px 4px 0px;
}

/*-----------------------------------------------------------------*/

.specialties-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.specialties-button {
    background-color: #148c54bb;
    color: rgb(0, 0, 0);
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    width: 20px;
    position: relative;
    border-radius: 0px 5px 5px 0px;
}

.specialties-button .arrow {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.specialties-options {
    display: none;
    margin-left: 10px;
    flex-grow: 1;
    flex-wrap: wrap; /* Adicionado para permitir quebra de linha */
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border: 0px solid #333;
    border-radius: 5px;
}

.specialty-box {
    flex: 1 1 calc(50% - 20px); /* Ajusta a largura para 50% menos margem */
    max-width: calc(50% - 20px); /* Garante que a largura máxima seja de 50% menos margem */
    height: auto;
    background-color: #148C54;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    font-size: 2.5vh;
    margin: 10px; /* Espaçamento entre as caixas */
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
    position: relative;
}

.specialty-box > h3{
    margin-bottom: 8px;
    text-decoration: underline;
    font-size: 2.8vh;
    text-align: center;
}

.option-image {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.specialty-placeholder {
    display: flex; /* Oculta por padrão */
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajuste a altura conforme necessário */
    background-image: linear-gradient(to right, #24ae87, white);
    border: 0px solid #333;
    flex-grow: 1;
    margin-left: 10px; 
    color: #166952;
    font-size: 6vh;
    border-radius: 10px;

  
}

/* Media Queries para telas menores */
@media screen and (max-width: 768px) {
    .specialty-box {
        flex: 1 1 calc(50% - 10px); /* Ajusta a largura para 50% menos margem */
        max-width: calc(50% - 10px); /* Garante que a largura máxima seja de 50% menos margem */
        font-size: 2vh; /* Ajusta o tamanho da fonte */
    }

    .specialty-box > h3 {
        font-size: 2.2vh; /* Ajusta o tamanho da fonte do título */
    }
}

@media screen and (max-width: 480px) {
    .specialty-box {
        flex: 1 1 calc(100% - 20px); /* Ajusta a largura para 100% menos margem */
        max-width: calc(100% - 20px); /* Garante que a largura máxima seja de 100% menos margem */
    }
}
